{% extends 'base.html' %} {% block content %}
<section class="row">
    <div class="col-md-12">
        <div class="card bg-info">
            <div class="card-header text-center bg-light"><span class="badge badge-pill badge-primary">INNOVA:ORIGINES ET CONTEXT</span></div>
            <div class="card-body" style="color: white;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quae culpa cum assumenda id incidunt temporibus hic eaque. Neque quo debitis aperiam dignissimos non. Tenetur ut facilis numquam aperiam minima!
            </div>
        </div>
    </div>

</section>
<br><br>

<section class="row ">
    <div class="col-lg-6 ">
        <div class="card bg-light border border-info">
            <div class="card-header text-center bg-light "><span class="badge badge-pill badge-secondary">BILAN 1ERE EDITION & OBJECTIFS</span></div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quae culpa cum assumenda id incidunt temporibus hic eaque. Neque quo debitis aperiam dignissimos non. Tenetur ut facilis numquam aperiam minima!
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6 ">
        <div class="card bg-light border border-dark">
            <div class="card-header text-center bg-light "><span class="badge badge-pill badge-warning ">26,27,28 MARS AU PALAIS DE LA CULTURE deDE 9H A 17H</span></div>
            <div class="card-body " ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quae culpa cum assumenda id incidunt temporibus hic eaque. Neque quo debitis aperiam dignissimos non. Tenetur ut facilis numquam aperiam minima!
            </div>
        </div>
    </div>
    </div>
</section>
<br>
<section class="row ">
    <div class="col-lg-6 ">
        <div class="card bg-light border border-warning ">
            <div class="card-header text-center bg-light "><span class="badge badge-pill badge-success ">ENCRAGE, CONTENU, CONDITIONS D'ACCES AU SALON</span></div>
            <div class="card-body ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quae culpa cum assumenda id incidunt temporibus hic eaque. Neque quo debitis aperiam dignissimos non. Tenetur ut facilis numquam aperiam minima!
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6 ">
        <div class="card bg-light border border-success ">
            <div class="card-header text-center bg-light "><span class="badge badge-pill badge-dark ">MODE DE PARTICIPATIONS ET CIBLES VISEES</span></div>
            <div class="card-body ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quae culpa cum assumenda id incidunt temporibus hic eaque. Neque quo debitis aperiam dignissimos non. Tenetur ut facilis numquam aperiam minima!
            </div>
        </div>
    </div>
    </div>
</section>
<br><br>
<section class="ftco-section ftco-counter img ftco-no-pt " id="section-counter ">
    <div class="container ">
        <div class="row d-md-flex ">
            <div class="col-md-9 ">
                <div class="row d-md-flex align-items-center ">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate ">
                        <div class="block-18 ">
                            <div class="text ">
                                <strong class="number " data-number="3 ">3</strong>
                                <span>Années d'expériences</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate ">
                        <div class="block-18 ">
                            <div class="text ">
                                <strong class="number " data-number="50 ">50</strong>
                                <span>Organisateurs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate ">
                        <div class="block-18 ">
                            <div class="text ">
                                <strong class="number " data-number="15000 ">15000</strong>
                                <span>Satistfactions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center text-md-left ">
                <div class="card bg-white border border-danger ">
                    <div class="card-header text-center bg-light "><span class="badge badge-pill badge-danger ">INFOLINES</span></div>
                    <div class="card-body ">
                        <span style="color: black; ">(+225) 05 60 06 55</span>
                        <span style="color: black; ">(+225) 09 82 32 25</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}