{% extends 'bases.html' %} {% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row d-flex no-gutters">
            <div class="col-md-12 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
                <div class="py-md-5">
                    <div class="heading-section ftco-animate mb-5">
                        <span class="subheading" style="text-align: center;">Innova</span><br>
                        <h2 class="mb-4" style="text-align: center;">Participer</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex no-gutters">
        <div class="col-md-12 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
            <div class="card" style="width:1200px; border:2px solid brown">
                <marquee behavior="" direction="" style="color:blue; font-style:italic;font-weight:bolder">Veuillez cliquer pour télécharger et renseigner les documents ci-dessous👇👇👇</marquee>
            </div>
        </div>

    </div>
    </div>

    </div>
    <div class="row d-flex no-gutters">
        <div class="col-md-3 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
            <div class="card" style="width:400px">

                <div class="card-body">
                    <h4 class="card-title" style="color:red;">ETAPE 1</h4>
                    <p class="card-text" style="color:rgb(23, 126, 243);">Prendre connaissance de l'évènement...</p>
                    <a href="../static/images/ETAPE1.pdf" class="btn btn-primary" style="background-color: green;" download='ETAPE1'>Télécharger</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
            <div class="card" style="width:400px">

                <div class="card-body">
                    <h4 class="card-title" style="color:red;">ETAPE 2<i class="far fa-signal-2"></i></h4>
                    <p class="card-text" style="color:rgb(23, 126, 243);">Secteurs d'activités concernés...</p>
                    <a href="../static/images/ETAPE2.pdf" class="btn btn-primary" style="background-color: green;" download='ETAPE2'>Télécharger</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
            <div class="card" style="width:400px">

                <div class="card-body">
                    <h4 class="card-title" style="color:red;">ETAPE 3</h4>
                    <p class="card-text" style="color:rgb(23, 126, 243);">Prémier formulaire à remplir...</p>
                    <a href="../static/images/ETAPE3.pdf" class="btn btn-primary" style="background-color: green;" download='ETAPE3'>Télécharger</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
            <div class="card" style="width:400px">

                <div class="card-body">
                    <h4 class="card-title" style="color:red;">ETAPE 4</h4>
                    <p class="card-text" style="color:rgb(23, 126, 243);">Deuxième formulaire à remplir...</p>
                    <a href="../static/images/ETAPE4.pdf" class="btn btn-primary" style="background-color: green;" download='ETAPE4'>Télécharger</a>
                </div>
            </div>
        </div>

    </div>

</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">

</section>
{% endblock content %}